
.main-page{
    display: flex;
    flex-direction: column;
}

.categories-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.excuse-container{
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    font-weight: light;
    text-align: center;
}
.category-btn{
    background: none;
    border: none;
    font-size: 30px;
    font-family: 'Mr De Haviland', cursive;
}

.category-btn:hover{
    color: #197C7C;
    cursor: pointer;
    border-top: 1px solid #197C7C;
}